// @mixin responsive-image-container {
//     position: relative;
//     display: flex;
//     align-items: flex-start;
//     overflow: hidden;
// }

// .service-detail-image-container {
//     // height: 18.75rem;
//     // // width: auto; // Allow width to adjust proportionally
//     // // display: block; // Remove any default inline styles
//     // // max-width: 100%; // Ensure the image doesn't exceed its original size
//     width: 28.563rem;
//     height: 18.75rem;
//     @include responsive-image-container();
// }

// .our-talented-developers-image-container {
//     width: 268px;
//     height: 268px;
//     @include responsive-image-container();
// }

// .our-work-image{
//     width:100%;
//     aspect-ratio: 552/300;
//     object-fit: cover;
//     object-position: 0px 10%;
// }

.service-detail-image {
    width: 100%;
    aspect-ratio: 457/300;
    object-fit: cover;
    object-position: 0px 10%;
}

.our-work-image {
    width: 100%;
    aspect-ratio: 552/300;
    object-fit: cover;
    object-position: 0px 30%;
}

.our-talented-developer-image {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px 0%;
}

.our-talented-developer-image-1 {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px 12%;
}

.bg-dark-blue{
    background-color: $blue-900 !important;
}

// everything below is for the card
// you need to copy all if you are copying the card

.card-image{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px 0%;
}

.card-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

.input-group .form-control {
    background-color: transparent;
    color: white;
}

.input-group .form-control::placeholder {
    color: white;
    opacity: 1; /* Override default opacity */
  }

.input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1;
    border-bottom-right-radius: 1;
    min-height: 3.5rem;
    background-color: $orange;
}

.card-input-group {
    max-width: 37.5rem;
}