.service-detail-image {
    width: 100%;
    aspect-ratio: 457/300;
    object-fit: cover;
    object-position: 0px 10%;
}

.viewmore {
    background-color: #2871FF;
}

.headerNumber{
    color: #E3E3E3;
}

.packageBox {
     height: 600px;
}

.card-image{
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: 0px 0%;
}

.card-btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

.input-group .form-control {
    background-color: transparent;
    color: white;
}

.input-group .form-control::placeholder {
    color: white;
    opacity: 1; /* Override default opacity */
  }

.input-group .btn {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 1;
    border-bottom-right-radius: 1;
    background-color: $orange;
}