.main {
  background-color: $white;
}

.submit-btn {
  background-color: $blue !important;
}

.information {
  background-color: #031332;
  text-align: justify;
  border-radius: 24px;

  .info {
    div {
      width: 100% ;
      display: inline-flex;
      text-align: start;

      .icon {
        width: 32px;
        height: 32px;
      }
    }
  }
}