@import "homeConfig";
.home {

  background-image: url("/images/Background.png");
  background-size: cover;
  position: relative;
  z-index: 1;

  .hero {
    margin: auto;
    text-align: center;
    padding-top: 10%;

    h2 {
      font-family: $heading-font-family;
      font-weight: map-get($font-weight, 700);
      font-size: map-get($font-size, heading1);
      color: $white-color;
      margin-bottom: 48px;
    }
    p {
      font-family: $text-font-family;
      font-weight: map-get($font-weight, 700);
      font-size: map-get($font-size, text1);
      color: $white-color;
    }
  }
}

.about-us {
  padding: 80px;

  .container {
    display: flex;
    align-items: center;
    margin-bottom: 80px;
  }

  .about-us-image,
  .about-us-image1 {
    background-color: black;
    width: 45%;
    height: 300px;
    border-radius: 16px;
  }

  .about-us-image {
    margin-right: 50px;
  }

  .about-us-image1 {
    margin-left: 70px;
  }

  .about-us-content,
  .about-us-content1 {
    flex: 1;
    padding-top: 10px;

    h2 {
      font-family: $heading-font-family;
      font-weight: map-get($font-weight, 700);
      font-size: map-get($font-size, heading2);
      color: $black-color;
      margin: 0;
      margin-bottom: 30px;
    }
  }

  p {
    font-family: $text-font-family;
    font-weight: map-get($font-weight, 500);
    font-size: map-get($font-size, text2);
    color: $black-color;
    margin: 0;
    margin-bottom: 30px;
  }

  a {
    font-family: $text-font-family;
    font-weight: map-get($font-weight, 400);
    font-size: map-get($font-size, text2);
    color: $blue-color;
  }

  .about-us-content {
    margin-left: 50px;
  }

  .about-us-content1 {
    margin-right: 70px;
  }
}

.h2 {
  padding: 0 80px;
  font-family: $heading-font-family;
  font-weight: map-get($font-weight, 700);
  font-size: map-get($font-size, heading2);
  color: $black-color;
}

.h4 {
  font-family: $heading-font-family;
  font-weight: map-get($font-weight, 600);
  font-size: map-get($font-size, heading5);
  color: $orange-color;
}
.our-service {
  padding: 40px 40px;
  display: flex;
}

.service {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-image {
  width: 268px;
  height: 268px;
  background: black;
  border-radius: 16px;
}

.service-text {
  margin-top: auto;
  padding: 35px;
}

.service-text h3 {
  margin: 0;
  font-family: $heading-font-family;
  font-weight: map-get($font-weight, 600);
  font-size: map-get($font-size, heading4);
  color: $black-color;
}

.service-text p {
  margin: 8px 0 0;
  font-family: $text-font-family;
  font-weight: map-get($font-weight, 500);
  font-size: map-get($font-size, text2);
  color: $black-color;
}

.our-work {
  h2 {
    font-family: $heading-font-family;
    font-weight: map-get($font-weight, 700);
    font-size: map-get($font-size, heading2);
    color: $black-color;
    margin-bottom: 24px;
  }

  p {
    font-family: $text-font-family;
    font-weight: map-get($font-weight, 500);
    font-size: map-get($font-size, text2);
    color: $black-color;
    margin-bottom: -20px;
  }
  .our-work-header {
    padding-top: 100px;
    padding-bottom: 0;
    padding: 80px;

    a {
      float: right;
      padding-right: 10px;
      color: $blue-color;
    }
  }

  .work-container {
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  .work {
    display: flex;
    flex-direction: column;
    padding: 0 95px;

    .work-img {
      width: 552px;
      height: 300px;
      background: black;
      border-radius: 16px;
    }

    .work-text {
      padding: 10px 0;

      h3 {
        font-family: $heading-font-family;
        font-weight: map-get($font-weight, 600);
        font-size: map-get($font-size, heading3);
        color: $black-color;
      }
      p {
        font-family: $text-font-family;
        font-weight: map-get($font-weight, 500);
        font-size: map-get($font-size, text1);
        color: $black-color;
      }
    }
  }
}

@mixin responsive_img {
  position: relative;
  display: flex;
  align-items: flex-start;
  overflow: hidden;
  border-radius: 16px;

  img {
    max-width: 100%;
    height: auto;
  }
}

@mixin our_work_mixin {
  flex-basis: 50%;

  .img-col-2 {
    width: 552px;
    height: 300px;

    @include responsive_img();
  }

  .para-col-2 {
    h4 {
      margin-top: 16px;
      font-size: 32px;
      font-style: normal;
      font-weight: 600;
      line-height: normal;
      width: 552px;
      height: 39px;
    }

    p {
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      width: 552px;
      line-height: 28px;
    }
  }
}

.our_work {
  display: flex;
  padding: 24px 80px;
  justify-content: space-between;
  flex: 1;
  gap: 16px;
  margin-bottom: 120px;

  .first {
    @include our_work_mixin();
  }

  .second {
    @include our_work_mixin();
  }
}
