.footer-h1 {
    font-size: 64px;

}

.footer-h2 {
    font-size: 24px;
}

.icon {
    font-size: 22px;
}

.child {
    margin-bottom: 32px;

    .icon {
        font-size: 22px;
    }
}



.footer {
    z-index: 0;
    margin-bottom: -50px;
    position: relative;
    z-index: 0;

    .footer-image {
        opacity: 0.5;
        z-index: 0;
        margin-bottom: -50px;
    }
}

.footer-ul {
    list-style-type: none;
    padding: 0px 0px 0px 0px;

    li:not(:last-child) {
        margin-bottom: 12px;
    }

}

.footer-a {
    color: #031332;
    text-decoration: none;
    font-size: 18px;
}

.navigation {
    position: relative;
    margin-top: 0px;
    z-index: 1;

    h2 {
        margin-bottom: 24px;
    }
}

.footer-hr {
    border-width: 3px #000;
}

// p {
//     text-align: center;
// }